<div>
   <mat-toolbar color="primary">
      <button mat-flat-button color="accent" class="example-icon" routerLink='table'>
         <!-- <mat-icon>table_view</mat-icon> -->
         ساده
      </button>
      <button mat-flat-button color="accent" class="example-icon" routerLink='tree'>
         <!-- <mat-icon>apartment</mat-icon> -->
         گروه بندی
      </button>
      <button mat-flat-button color="accent" class="example-icon" routerLink='/auth'>
         <!-- <mat-icon>apartment</mat-icon> -->
         باز شو
      </button>
   </mat-toolbar>
</div>
<div>
   <router-outlet></router-outlet>
</div>