<div class="card-body">
   <div class="form form-label-right">
      <div style="padding: 5px 30px 5px 30px;">
         <mat-form-field appearance="legacy">
            <mat-icon matSuffix>search</mat-icon>
            <mat-label>جستجو</mat-label>
            <input matInput placeholder="جستجو" (keyup)="applyFilter($event)" #input>
            <!-- <mat-hint>Hint</mat-hint> -->
         </mat-form-field>
         <mat-divider></mat-divider>
      </div>
      <div>
         <table mat-table [dataSource]="dataSourceTable" matSort>
            <ng-container matColumnDef="Barcode">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> کد پرسنلی </th>
               <td mat-cell *matCellDef="let row"> {{row.barcode}} </td>
            </ng-container>
            <ng-container matColumnDef="Name">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> نام </th>
               <td mat-cell *matCellDef="let row">
                  {{row.name}}
               </td>
            </ng-container>
            <ng-container matColumnDef="Family">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> نام خانوادگی </th>
               <td mat-cell *matCellDef="let row">
                  {{row.family}}
               </td>
            </ng-container>
            <ng-container matColumnDef="IsActive">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> فعال </th>
               <td mat-cell *matCellDef="let row">
                  <mat-checkbox color="warn" disabled [checked]="row.isActive">
                  </mat-checkbox>
               </td>
            </ng-container>
            <ng-container matColumnDef="Level">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> سطح </th>
               <td mat-cell *matCellDef="let row">
                  <div [ngSwitch]="row.adminLevel">
                     <div *ngSwitchCase="0">پرسنل</div>
                     <div *ngSwitchCase="1">مدیر شبکه</div>
                     <div *ngSwitchCase="2">مدیر</div>
                     <div *ngSwitchDefault>-</div>
                  </div>
               </td>
            </ng-container>
            <ng-container matColumnDef="StartDate">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> شروع </th>
               <td mat-cell *matCellDef="let row">
                  {{ row.startDate | jalaliMoments }}
               </td>
            </ng-container>
            <ng-container matColumnDef="ExpireDate">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> پایان </th>
               <td mat-cell *matCellDef="let row">
                  {{ row.expireDate | jalaliMoments }}
               </td>
            </ng-container>
            <ng-container matColumnDef="DepartementName">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> بخش </th>
               <td mat-cell *matCellDef="let row">
                  {{row.departementName}}
               </td>
            </ng-container>
            <ng-container matColumnDef="AccessGroupName">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> گروه دسترسی </th>
               <td mat-cell *matCellDef="let row">
                  {{row.accessGroupName}}
               </td>
            </ng-container>
            <ng-container matColumnDef="CardsCount">
               <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="تعداد کارت های تعریف شده">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">credit_card</mat-icon>
               </th>
               <td mat-cell *matCellDef="let row">
                  {{row.cardsCount}}
               </td>
            </ng-container>
            <ng-container matColumnDef="FingersCount">
               <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="تعداد اثر انگشت های تعریف شده">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">fingerprint</mat-icon>
               </th>
               <td mat-cell *matCellDef="let row">
                  {{row.fingersCount}}
               </td>
            </ng-container>
            <ng-container matColumnDef="FacesCount">
               <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="تعداد چهره های تعریف شده">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>
               </th>
               <td mat-cell *matCellDef="let row">
                  {{row.facesCount}}
               </td>
            </ng-container>
            <ng-container matColumnDef="IrisesCount">
               <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="تعداد اثر عنبیه های تعریف شده">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
               </th>
               <td mat-cell *matCellDef="let row">
                  <div [hidden]="row.id == currentRow">
                     {{ row.irisesCount }}
                  </div>
                  <div [hidden]="row.id != currentRow">
                     <button title="Edit User" class="btn btn-icon  btn-hover-bg-light btn-sm mx-2" matTooltip="Edit"
                        [routerLink]="'/base-info/persons/edit/'  + row.id">
                        <mat-icon>home</mat-icon>
                     </button>
                     <button title="Delete User" class="btn btn-icon btn-hover-bg-light btn-sm mx-2"
                        matTooltip="Delete">
                        <mat-icon>home</mat-icon>

                     </button>
                  </div>
               </td>
            </ng-container>

            <!-- config table -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"> </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
               [ngClass]="{hovered: row.hovered, highlighted: selectionTable.isSelected(row) }"
               (click)="selectionTable.toggle(row)" (mouseover)="row.hovered = true" (mouseover)="currentRow = row.id"
               (mouseout)="currentRow= -1" (mouseout)="row.hovered = false"> </tr>
            <tr class="mat-row" *matNoDataRow>
               <td class="mat-cell" colspan="6">برای جستجوی "{{input.value}}" موردی یافت نشد.</td>
            </tr>
         </table>
         <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons>
         </mat-paginator>
      </div>
   </div>
</div>