.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-tree-node {
  min-height: 10px !important;
  margin-top: -5px !important;
}

.iconIdSize {
  max-width: 32px;
  max-height: 32px;
}

.mat-tree-node.hovered {
  cursor: pointer;
  background-color: #bfd7ea;
}

.fixscreensize {
  height: calc(100vh - 128px);
  overflow-y: auto;
}
