<div>
   <mat-toolbar color="warn">
      <button mat-flat-button color="accent" class="example-icon" routerLink='flat'>
         <!-- <mat-icon>table_view</mat-icon> -->
         فلت
      </button>
      <button mat-flat-button color="accent" class="example-icon" routerLink='nested'>
         <!-- <mat-icon>apartment</mat-icon> -->
         نستد
      </button>
      <button mat-flat-button color="accent" class="example-icon" routerLink='sample'>
         <!-- <mat-icon>apartment</mat-icon> -->
         مثال
      </button>
   </mat-toolbar>
</div>
<div>
   <router-outlet></router-outlet>
</div>